
![image](https://user-images.githubusercontent.com/45148200/50420336-167c1e80-0836-11e9-8f3c-224f4cab73bd.png)

#  Rossman Stores Sales forecasting

In [1]:
%config IPCompleter.greedy=True
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from pandas import datetime
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from sklearn import svm
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import explained_variance_score
import xgboost
from sklearn.svm import SVR
%matplotlib inline

## Extracting the data

In [2]:
#Lecture des donnÃ©es
train_data = pd.read_csv('dataset/train.csv', sep=',',low_memory=False)
store_data = pd.read_csv('dataset/store.csv', sep=',',low_memory=False)
test_data = pd.read_csv('dataset/test.csv', sep=',',low_memory=False)

## Feature Engineering

The aim here is to grasp every relevant information from the variables given. 

Furthemore, we also decide the way we are forcasting. In other words we can just feed our model the predictors that are the most relevant according to us, but we can also make it a little more elaborate. For example here we have chosen to predict the sales of every stores separatly then gather everything.

First let's focus on the features.

- The Date variable is not really useful but we can get other information such as the Year and the Month.
- We can map variables such as StoreType, Assortment or StateHoliday in order to replce the "str" with integers and thus make it usable
- In order to clean the dataset we can either drop some rows or fill them with what makes sense. Thus we keep only the rows where the stores is open and makes sales

### Features 

- Filling the blanks & NaNs
- Creating new relevant variables
- Mapping The variables

In [3]:
#Filling the blanks or NaNs
store_data.fillna(0, inplace = True)
store_data['CompetitionDistance'].fillna(store_data['CompetitionDistance'].median(), inplace = True)
#Creating new variables

#From the date
train_data['Date'] = pd.to_datetime(train_data['Date'], errors='coerce')

train_data['Year'] = train_data.Date.dt.year
train_data['Month'] = train_data.Date.dt.month
train_data['Day'] = train_data.Date.dt.day
train_data['WeekOfYear'] = train_data.Date.dt.weekofyear

test_data['Date'] = pd.to_datetime(test_data['Date'], errors='coerce')

test_data['Year'] = test_data.Date.dt.year
test_data['Month'] = test_data.Date.dt.month
test_data['Day'] = test_data.Date.dt.day
test_data['WeekOfYear'] = test_data.Date.dt.weekofyear

# Indicate whether the month is in promo interval
month2str = {1:'Jan', 2:'Feb', 3:'Mar', 4:'Apr', 5:'May', 6:'Jun', \
             7:'Jul', 8:'Aug', 9:'Sept', 10:'Oct', 11:'Nov', 12:'Dec'}
store_data['month_str'] = train_data.Month.map(month2str)

def check(row):
    if isinstance(row['PromoInterval'],str) and row['month_str'] in row['PromoInterval']:
        return 1
    else:
        return 0
        
store_data['IsPromoMonth'] =  store_data.apply(lambda row: check(row),axis=1)  

#From the competition 
store_data['CompetitionOpen'] = 12 * (train_data.Year - store_data.CompetitionOpenSinceYear) + \
        (train_data.Month - store_data.CompetitionOpenSinceMonth)
store_data['PromoOpen'] = 12 * (train_data.Year - store_data.Promo2SinceYear) + \
        (train_data.WeekOfYear - store_data.Promo2SinceWeek) / 4.0
store_data['PromoOpen'] = store_data.PromoOpen.apply(lambda x: x if x > 0 else 0)
store_data.loc[store_data.Promo2SinceYear == 0, 'PromoOpen'] = 0



#Mapping the variables
train_data.StateHoliday = train_data.StateHoliday.replace(0,'0')
train_data["HolidayBin"] = train_data.StateHoliday.map({"0": 0, "a": 1, "b": 2, "c": 3})

store_data["StoreTypeBin"] = store_data.StoreType.map({"a": 1, "b": 2, "c": 3, "d": 4})
store_data['AssortmentBin'] = store_data.Assortment.map({"a": 1, "b": 2, "c": 3, "d": 4})

test_data.StateHoliday =test_data.StateHoliday.replace(0,'0')
test_data["HolidayBin"] = test_data.StateHoliday.map({"0": 0, "a": 1, "b": 2, "c": 3})

In [4]:
store_data

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval,month_str,IsPromoMonth,CompetitionOpen,PromoOpen,StoreTypeBin,AssortmentBin
0,1,c,a,1270.0,9.0,2008.0,0,0.0,0.0,0,Jul,0,82.0,0.00,3,1
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",Jul,1,92.0,64.50,1,1
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",Jul,1,103.0,52.25,1,1
3,4,c,c,620.0,9.0,2009.0,0,0.0,0.0,0,Jul,0,70.0,0.00,3,3
4,5,a,a,29910.0,4.0,2015.0,0,0.0,0.0,0,Jul,0,3.0,0.00,1,1
5,6,a,a,310.0,12.0,2013.0,0,0.0,0.0,0,Jul,0,19.0,0.00,1,1
6,7,a,c,24000.0,4.0,2013.0,0,0.0,0.0,0,Jul,0,27.0,0.00,1,3
7,8,a,a,7520.0,10.0,2014.0,0,0.0,0.0,0,Jul,0,9.0,0.00,1,1
8,9,a,c,2030.0,8.0,2000.0,0,0.0,0.0,0,Jul,0,179.0,0.00,1,3
9,10,a,a,3160.0,9.0,2009.0,0,0.0,0.0,0,Jul,0,70.0,0.00,1,1
10,11,a,c,960.0,11.0,2011.0,1,1.0,2012.0,"Jan,Apr,Jul,Oct",Jul,1,44.0,43.50,1,3
11,12,a,c,1070.0,0.0,0.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",Jul,1,24187.0,64.50,1,3
12,13,d,a,310.0,0.0,0.0,1,45.0,2009.0,"Feb,May,Aug,Nov",Jul,0,24187.0,68.50,4,1
13,14,a,a,1300.0,3.0,2014.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",Jul,1,16.0,45.75,1,1
14,15,d,c,4110.0,3.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",Jul,1,64.0,52.25,4,3
15,16,a,c,3270.0,0.0,0.0,0,0.0,0.0,0,Jul,0,24187.0,0.00,1,3
16,17,a,a,50.0,12.0,2005.0,1,26.0,2010.0,"Jan,Apr,Jul,Oct",Jul,1,115.0,61.25,1,1
17,18,d,c,13840.0,6.0,2010.0,1,14.0,2012.0,"Jan,Apr,Jul,Oct",Jul,1,61.0,40.25,4,3
18,19,a,c,3240.0,0.0,0.0,1,22.0,2011.0,"Mar,Jun,Sept,Dec",Jul,0,24187.0,50.25,1,3
19,20,d,a,2340.0,5.0,2009.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",Jul,1,74.0,9.75,4,1
20,21,c,c,550.0,10.0,1999.0,1,45.0,2009.0,"Jan,Apr,Jul,Oct",Jul,1,189.0,68.50,3,3
21,22,a,a,1040.0,0.0,0.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct",Jul,1,24187.0,38.25,1,1
22,23,d,a,4060.0,8.0,2005.0,0,0.0,0.0,0,Jul,0,119.0,0.00,4,1
23,24,a,c,4590.0,3.0,2000.0,1,40.0,2011.0,"Jan,Apr,Jul,Oct",Jul,1,184.0,45.75,1,3
24,25,c,a,430.0,4.0,2003.0,0,0.0,0.0,0,Jul,0,147.0,0.00,3,1
25,26,d,a,2300.0,0.0,0.0,0,0.0,0.0,0,Jul,0,24187.0,0.00,4,1
26,27,a,a,60.0,1.0,2005.0,1,5.0,2011.0,"Jan,Apr,Jul,Oct",Jul,1,126.0,54.50,1,1
27,28,a,a,1200.0,10.0,2014.0,1,6.0,2015.0,"Mar,Jun,Sept,Dec",Jul,0,9.0,6.25,1,1
28,29,d,c,2170.0,0.0,0.0,0,0.0,0.0,0,Jul,0,24187.0,0.00,4,3
29,30,a,a,40.0,2.0,2014.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec",Jul,0,17.0,17.25,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,1086,a,a,180.0,11.0,2013.0,1,18.0,2011.0,"Feb,May,Aug,Nov",Jul,0,20.0,51.25,1,1
1086,1087,d,c,2210.0,11.0,2011.0,0,0.0,0.0,0,Jul,0,44.0,0.00,4,3
1087,1088,a,a,4300.0,3.0,2009.0,1,27.0,2013.0,"Jan,Apr,Jul,Oct",Jul,1,76.0,25.00,1,1
1088,1089,d,a,5220.0,5.0,2009.0,0,0.0,0.0,0,Jul,0,74.0,0.00,4,1
1089,1090,a,a,330.0,0.0,0.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",Jul,1,24187.0,52.25,1,1
1090,1091,a,c,9990.0,0.0,0.0,0,0.0,0.0,0,Jul,0,24187.0,0.00,1,3
1091,1092,a,a,300.0,7.0,2000.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",Jul,1,180.0,9.75,1,1
1092,1093,c,c,10450.0,6.0,2009.0,0,0.0,0.0,0,Jul,0,73.0,0.00,3,3
1093,1094,d,a,2380.0,3.0,2013.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",Jul,1,28.0,9.75,4,1
1094,1095,a,a,690.0,6.0,2007.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",Jul,1,97.0,52.25,1,1
1095,1096,a,c,1130.0,0.0,0.0,1,10.0,2014.0,"Mar,Jun,Sept,Dec",Jul,0,24187.0,17.25,1,3
1096,1097,b,b,720.0,3.0,2002.0,0,0.0,0.0,0,Jul,0,160.0,0.00,2,2
1097,1098,a,a,1830.0,11.0,2004.0,0,0.0,0.0,0,Jul,0,128.0,0.00,1,1
1098,1099,a,c,200.0,4.0,2013.0,1,14.0,2013.0,"Jan,Apr,Jul,Oct",Jul,1,27.0,28.25,1,3
1099,1100,a,a,540.0,0.0,0.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",Jul,1,24187.0,52.25,1,1
1100,1101,d,c,4060.0,9.0,2012.0,0,0.0,0.0,0,Jul,0,34.0,0.00,4,3
1101,1102,a,a,850.0,11.0,2012.0,1,40.0,2014.0,"Jan,Apr,Jul,Oct",Jul,1,32.0,9.75,1,1
1102,1103,d,c,1340.0,10.0,2006.0,1,5.0,2013.0,"Feb,May,Aug,Nov",Jul,0,105.0,30.50,4,3
1103,1104,d,a,260.0,2.0,2012.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct",Jul,1,41.0,52.25,4,1
1104,1105,c,c,330.0,11.0,2008.0,1,5.0,2013.0,"Feb,May,Aug,Nov",Jul,0,80.0,30.50,3,3
1105,1106,a,c,5330.0,9.0,2011.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",Jul,1,46.0,24.00,1,3
1106,1107,a,a,1400.0,6.0,2012.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct",Jul,1,37.0,64.50,1,1
1107,1108,a,a,540.0,4.0,2004.0,0,0.0,0.0,0,Jul,0,135.0,0.00,1,1
1108,1109,c,a,3490.0,4.0,2011.0,1,22.0,2012.0,"Jan,Apr,Jul,Oct",Jul,1,51.0,38.25,3,1
1109,1110,c,c,900.0,9.0,2010.0,0,0.0,0.0,0,Jul,0,58.0,0.00,3,3
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct",Jul,1,13.0,24.00,1,1
1111,1112,c,c,1880.0,4.0,2006.0,0,0.0,0.0,0,Jul,0,111.0,0.00,3,3
1112,1113,a,c,9260.0,0.0,0.0,0,0.0,0.0,0,Jul,0,24187.0,0.00,1,3
1113,1114,a,c,870.0,0.0,0.0,0,0.0,0.0,0,Jul,0,24187.0,0.00,1,3
1114,1115,d,c,5350.0,0.0,0.0,1,22.0,2012.0,"Mar,Jun,Sept,Dec",Jul,0,24187.0,38.25,4,3

## Cleaning the dataset

- Delete the variable useless after the feature engineering
- Delete the irrelevant states

In [5]:


del train_data['Date']
del train_data['StateHoliday']

del test_data['Date']
del test_data['StateHoliday']

closed_store_data = test_data["Id"][test_data["Open"] == 0].values
test_data = test_data[test_data["Open"] != 0]
train_data= train_data[(train_data["Sales"]!=0) & (train_data["Open"]!=0)]

## Creating the dataset
As we so in the virtualization notebook the sales depends on variables that are in different tables. Therefore we merge the two tables in order to deal with every variables that influences the sales

In [6]:
join_train = train_data.join(store_data.set_index('Store'),on='Store')
join_test = test_data.join(store_data.set_index('Store'),on='Store')
# Creating the sets that are going to be tun through
train_stores = dict(list(pd.get_dummies(join_train).groupby('Store')))
test_stores = dict(list(pd.get_dummies(join_test).groupby('Store')))

#One hot-vector
# If we choose not to map we can use the get_dummies method 
#that creates a column with every none integer elements found
# in that column

#join_test = pd.get_dummies(join_test)

# Train & Predict

For every stores in the train store we first drop some obvious features. Then we proceed through the estimation process

In [7]:

result = pd.Series()
for i in test_stores:  
    store = train_stores[i]
    X_train = store.drop(["Sales", "Store", "Customers"],axis=1)
    Y_train = store["Sales"]
    X_test  = test_stores[i].copy()   
    store_ind = X_test["Id"]
    X_test.drop(["Id","Store"], axis=1,inplace=True)
    X_train = X_train.fillna(X_train.mean())
    X_test = X_test.fillna(X_train.mean())
    estimator =xgboost.XGBRegressor(n_estimators=18, learning_rate=0.15, max_depth=15)
    #estimator=RandomForestRegressor(n_estimators=10, max_depth=13, criterion = 'mse')
    #estimator= SVR(gamma='scale', C=1.0, epsilon=0.2)
    estimator.fit(X_train, Y_train)
    Y_pred = estimator.predict(X_test)
    result = result.append(pd.Series(Y_pred, index=store_ind))

In [8]:
result = result.append(pd.Series(0, index=closed_store_data))
result = pd.DataFrame({ "Id": result.index, "Sales": result.values})
result.to_csv('submission1_3.csv', index=False,header=True)